body{
    margin: 0;
    padding: 0;
    background-color: rgb(230,230,230);
    height: 100vh;
    width: 100vw;
}

#info{
    width: 100%;
    height: 5vh;
    font-size: large;
    font-family: monospace;
    text-align: center;
    line-height: 5vh;
}

#main_contents{
    margin-left: auto;
    margin-right: auto;
}

#item_area{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
}

.line{
    margin-bottom: 1%;
    height: 10%;
    text-align: center;
}

img{
    width: 100%;
    height: 100%;
}

.item{
    display: inline-block;
    height: 98%;
    width: 13.1%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.item.top{
    visibility: hidden;
}

.non_active{
    visibility: hidden;
}

#random_switch_area{
    position: relative;
    top: -13%;
}

.random_switch{
    width: 60vw;
    height: 10vh;
    margin: 0 auto;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 10vh;
    border-radius: 10px;
}
.random_switch:active{

    background-color: darkgrey;
    
}

#setting_btn_area{
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}
.setting_btn{
    color: grey;
    font-size: 30px;
}

.setting_btn:active{
    color: darkgrey;
}

#setting_view{
    display: none;
    border-radius: 10px;
    background-color: snow;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90vw;
    height: 90vh;
    border: solid 3px grey;
}

.setting_title{
    text-align: center;
}

#setting_close_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    font-size: 30px;
    color: grey;
    top: 3%;
    right: 3%;
}
#setting_close_btn:active{
    color: darkgrey;
}

#setting_item_area{
    width: 70%;
    height: 80%;
    background-color: snow;
    margin: 0 auto;
    overflow: scroll;
    /*border: solid 2px darkgrey;*/
}
.setting_item{
    position: relative;
    margin: 5% 0 0 0;
    height: 5vh;
    width: 100%;
    border-bottom: solid 2px darkgray;
}

.setting_item_img{
    width: 40%;
    height: 100%;
    background-image: url(img/small/1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.setting_item_input{
    position: absolute;
    top: 0;
    right: 14%;
    bottom: 0;
    width: 30%;
    height: 80%;
    font-size: 25px;
    display: inline-block;
    margin-right: 0%;
    font-family: sans-serif;
    text-align: center;
}

.persent{
    position: absolute;
    right: 4%;
    bottom: 0;
}

.setting_save{
    height:8%;
    margin-top: 3%;
}
.save_btn{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    border-radius: 10px;
}
.save_btn:active{

    background-color: darkgrey;
    
}
@media screen and (max-width: 780px){
body{
    height: 80vh;
}
#item_area{
    margin: 0 auto 0 auto;
    width: 100vw;
    height: 40vh;
    /*background-color: grey;*/
}

#main_contents{
    /*background-color: skyblue;*/
}

.line{
    margin-bottom: 1%;
    height: 11%;
    text-align: center;
}

.item{
    position: relative;
    width: 13%;
}

.filter.on{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.4);
}

#random_switch_area{
    display: block;
    margin-top: 100px;
}

.random_switch{
    width: 80vw;
    height: 10vh;
    margin: 0 auto;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 10vh;
    border-radius: 10px;
}

#setting_btn_area{
    position: absolute;
    bottom: 23vh;
    right: 5vw;
}
#setting_view{
    height: 70vh;
}

.setting_save{
    height:8%;
    margin-top: 1%;
}
.save_btn{
    width: 60vw;
    height: 100%;
    margin: 0 auto;
    background-color: grey;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    border-radius: 10px;
}

.setting_item_input{
    height: 60%;
}

}
