body{
    margin: 0;
    padding: 0;
}

.main_contents{
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/all.png);
    background-size: contain;
    background-color: rgb(230,230,230);
    background-repeat: no-repeat;
}

#item_area{
    margin: 10vh auto 10vh auto;
    width: 80vw;
    height: 80vh;
    /*background-color: red;*/
}

.line{
    margin-bottom: 1%;
    height: 10%;
    /*background-color: skyblue;*/
    border-bottom-color: black;
}

.btn{
    display: inline-block;
    height: 98%;
    width: 13%;
    background-image: url(img/on/1.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.non_active{
    visibility: hidden;
    
}

.switch{
    display: inline-block;
    height: 98%;
    width: 26%;
    background-color: snow;
    border-radius: 10px;
}