body{
    background-image: url(img/all.png);
    background-size: contain;
    background-color: snow;
}

#item_area{
    margin: auto;
    margin-top: 10%;
    width: 80vw;
    height: 80vh;
    /*background-color: red;*/
}

.line{
    margin-bottom: 1%;
    height: 10%;
    /*background-color: skyblue;*/
    border-bottom-color: black;
}

.btn{
    display: inline-block;
    height: 98%;
    width: 13%;
    background-image: url(img/on/1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.non_active{
    visibility: hidden;
    
}